<div class=" layout-spacing layout-top-spacing">

    <div class="row">
        <div class="col-lg-12">
            <div class="" style="text-align: -webkit-center;">
                <mat-form-field>
                    <mat-label>Filtro:</mat-label>
                    <input matInput (keyup)="filterTable($event.target.value)">
                </mat-form-field>
            </div>
            <div class="widget-content widget-content-area" style="text-align: -webkit-center;">

                <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
                    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
                        <th mat-header-cell *matHeaderCellDef> Account </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'inactive': element.status == 'inactiva'}"> {{element[column]}}</td>
                    </ng-container>

                    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                    <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length" [ngClass]="{'inactive': element.status == 'inactiva'}">
                            <div class="example-element-detail"
                                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                                <div class="row">
                                    <div class="col-2 col-xl-2 col-lg-2 col-md-2">
                                        <strong>Numero de cuenta</strong> 
                                    </div>
                                    <div class="col-2 col-xl-2 col-lg-2 col-md-2">
                                        {{element.number}}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-2 col-xl-2 col-lg-2 col-md-2">
                                        <strong>Tipo de cuenta</strong> 
                                    </div>
                                    <div class="col-2 col-xl-2 col-lg-2 col-md-2">
                                        {{element.type}}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-2 col-xl-2 col-lg-2 col-md-2">
                                        <strong>Saldo</strong> 
                                    </div>
                                    <div class="col-2 col-xl-2 col-lg-2 col-md-2">
                                        {{element.balance | currency}}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-2 col-xl-2 col-lg-2 col-md-2">
                                        <strong>Estado</strong> 
                                    </div>
                                    <div class="col-2 col-xl-2 col-lg-2 col-md-2">
                                        {{element.status}}
                                    </div>
                                </div>
                                
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
                        [class.example-expanded-row]="expandedElement === element"
                        (click)="expandedElement = expandedElement === element ? null : element">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                </table>
                <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>