<div style="padding-top: 10px;">
  <mat-tab-group animationDuration="0ms" (selectedTabChange)="changeTab($event)" color="warn">
    <mat-tab label="Cuentas en el banco"></mat-tab>
    <mat-tab label="Mis reportes"></mat-tab>
  </mat-tab-group>
</div>

<main>
  <router-outlet></router-outlet>
</main>
