<div class=" layout-spacing layout-top-spacing">


    <div class="row">
        <div class="col-lg-12">
            <div class="widget-content widget-content-area" style="text-align: -webkit-center;">
                <div class="row">
                    <div class="col-6" style="display: block;">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                            [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                        </canvas>
                    </div>
                    <div class="col-6" style="display: block;">
                        <canvas baseChart [datasets]="barChartDataType" [labels]="barChartLabelsType" [options]="barChartOptions"
                            [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>