
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$customer-products-primary: mat-palette($mat-indigo);
$customer-products-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$customer-products-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$customer-products-theme: mat-light-theme((
  color: (
    primary: $customer-products-primary,
    accent: $customer-products-accent,
    warn: $customer-products-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($customer-products-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$customer-products-primary: mat-palette($mat-indigo);
$customer-products-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$customer-products-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$customer-products-theme: mat-light-theme((
  color: (
    primary: $customer-products-primary,
    accent: $customer-products-accent,
    warn: $customer-products-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($customer-products-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

@import "assets/scss/vars.scss";
@import "assets/plugins/file-upload/file-upload-with-preview.scss";
@import "assets/scss/main.scss";
@import "assets/scss/custom-pagination.scss";
@import "assets/scss/custom-tabs.scss";
@import "assets/plugins/jquery-step/jquery.steps.css";
@import "assets/css/scrollspyNav.css";

body.blank_page {
    height: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
    background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3b3f5c;
}

:focus {
    outline: none;
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: $mainColor;
}

::selection {
    color: white;
    background: $mainColor;
}

p {
    margin-top: 0;
    margin-bottom: 0.625rem;
    color: #515365;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #f1f2f3;
}

strong {
    font-weight: 600;
}

code {
    color: #e7515a;
}

.cursor-pointer {
    cursor: pointer;
}

strong {
    font-weight: 700;
}

.w150 input {
    width: 150px;
}

.w98 input {
    width: 98px;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.widget {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 6px;
    // -webkit-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07),0px 1px 11px 0px rgba(0, 0, 0, 0.07);
    // -moz-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07),0px 1px 11px 0px rgba(0, 0, 0, 0.07);
    // box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07),0px 1px 11px 0px rgba(0, 0, 0, 0.07);
    border: 1px solid #e0e6ed;
}

@media (max-width: 575px) {
    .layout-top-spacing {
        margin-top: 60px!important;
    }
}

.layout-top-spacing {
    margin-top: 20px;
}

.layout-spacing {
    padding-bottom: 40px;
}

.layout-px-spacing {
    padding: 0 20px 0 20px !important;
    min-height: calc(100vh - 116px) !important;
}

.widget.box .widget-header {
    background: #fff;
    padding: 0px 8px 0px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.row [class*="col-"] .widget .widget-header h4 {
    color: #3b3f5c;
    font-size: 17px;
    font-weight: 600;
    margin: 0;
    padding: 16px 15px;
}

.seperator-header {
    background: transparent;
    box-shadow: none;
    margin-bottom: 40px;
    border-radius: 0;
}
.seperator-header h4 {
    color: #888ea8;
    margin-bottom: 0;
    display: inline-block;
    border: 2px dashed #888ea8;
    line-height: 1.4;
    padding: 3px 6px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    letter-spacing: 1px;
}

.widget .widget-header {
    border-bottom: 0px solid #f1f2f3;
}
.widget .widget-header:before {
    display: table;
    content: "";
    line-height: 0;
}
.widget .widget-header:after {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
}

.widget-content-area {
    padding: 20px;
    position: relative;
    background-color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid #e0e6ed;
}

.content-area {
    max-width: 58.333333%;
    margin-left: 80px;
}

.e-animated {
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes e-fadeInUp {
    0% {
        opacity: 0;
        margin-top: 10px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes e-fadeInUp {
    0% {
        opacity: 0;
        margin-top: 10px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

.e-fadeInUp {
    -webkit-animation-name: e-fadeInUp;
    animation-name: e-fadeInUp;
}

/*
  Filtered List Search
*/
.filtered-list-search form > div {
    position: relative;
    width: 80%;
}
.filtered-list-search form > div svg {
    position: absolute;
    right: 11px;
    color: #acb0c3;
    height: 36px;
    width: 19px;
    top: 4px;
}

.filtered-list-search form input {
    padding: 6px 27px 6px 15px;
    color: #d3d3d3;
    border: none;
    box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
    width: 100% !important;
    background-color: #fff;
}
.filtered-list-search form input:focus {
    border-color: #d3d3d3;
}
.filtered-list-search form input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #888ea8;
}
.filtered-list-search form input::-moz-placeholder {
    /* Firefox 19+ */
    color: #888ea8;
}
.filtered-list-search form input:-ms-input-placeholder {
    /* IE 10+ */
    color: #888ea8;
}
.filtered-list-search form input:-moz-placeholder {
    /* Firefox 18- */
    color: #888ea8;
}

/*
===============
    DROPIFY
===============
*/
.dropify-wrapper {
    width: 240px;
    height: 120px;
    border: none;
    border-radius: 6px;
    margin: 0 auto;
}
.dropify-wrapper .dropify-preview {
    background-color: #fff;
    padding: 0;
}
.dropify-wrapper .dropify-clear {
    font-size: 16px;
    padding: 4px 8px;
    color: #fff;
    border: none;
}
.dropify-wrapper .dropify-clear:hover {
    background-color: transparent;
}
.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-infos-message {
    padding-top: 27px;
}

    .dropify-wrapper
    .dropify-preview
    .dropify-infos
    .dropify-infos-inner
    p.dropify-infos-message::before {
    height: 20px;
    position: absolute;
    top: -1px;
    left: 45%;
    color: #fff;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background: transparent;
    width: 0;
    height: 0;
    font-size: 28px;
    width: 24px;
    content: " ";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-upload-cloud'%3e%3cpolyline points='16 16 12 12 8 16'%3e%3c/polyline%3e%3cline x1='12' y1='12' x2='12' y2='21'%3e%3c/line%3e%3cpath d='M20.39 18.39A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.3'%3e%3c/path%3e%3cpolyline points='16 16 12 12 8 16'%3e%3c/polyline%3e%3c/svg%3e");
    height: 20px;
}
.dropify-wrapper.touch-fallback {
    border: 1px solid #ebedf2;
}
.dropify-wrapper.touch-fallback .dropify-preview .dropify-infos .dropify-infos-inner {
    padding: 0;
}
.dropify-wrapper.touch-fallback .dropify-clear {
    color: #515365;
}
    .dropify-wrapper.touch-fallback
    .dropify-preview
    .dropify-infos
    .dropify-infos-inner
    p.dropify-filename {
    margin-top: 10px;
}

/*
===============
    select2
===============
*/

// Add Balance - Payment Methods Enabled
.payment-methods-enabled .select2-selection--multiple{
    min-height: 45px;
    border: 1px solid #bfc9d4;
}

// Broker Carrier Shared Notes
.carrier--type-notes .select2-container--mxp360-form {
    width: 230px!important;
}

.select2-container--disabled{
    .select2-selection--single {
        cursor: initial;
    }
}

.select2-container--mxp360 {
    border-radius: 3px;
    border: thin solid transparent;

    .select2-selection--single {
        .select2-selection__arrow {
            display: none;
        }
    }

    .select2-results__option--highlighted[aria-selected] {
        background: rgba($secondaryColor, 0.8) !important;
        color: #ffffff;
    }

    .select2-results__option--selected {
        background: $mainColor;
        color: #fff;
        opacity: 0.8;
    }

    .select2-dropdown {
        border: #cecece thin dotted;
        border-radius: 3px;
        box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
    }

    span.select2-search {
        input {
            border: 1px solid #cecece;
            border-radius: 3px;
        }
    }
}

.select2-container--mxp360:hover:not(.select2-container--disabled),
.select2-container--mxp360:not(.select2-container--disabled).select2-container--open {
    border: #9ca6af thin dotted;
    background: #ebedef;

    .select2-selection--single {
        .select2-selection__arrow {
            display: block;
        }
    }
}

.select2-container--mxp360:not(.select2-container--disabled).select2-container--open {
    .select2-selection__arrow {
        b {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
        }
    }
}

/****** Single SCSS *******/
.select2-container--mxp360 {
    .select2-selection--single {
        .select2-selection__rendered {
            line-height: 28px;
        }
        .select2-selection__arrow {
            height: 26px;
            position: absolute;
            top: -2px;
            right: 1px;
            width: 20px;
            b {
                border-color: #9ca6af transparent transparent transparent;
                top: 60%;
                border-style: solid;
                border-width: 5px 4px 0 4px;
                height: 0;
                left: 50%;
                margin-left: -4px;
                margin-top: -2px;
                position: absolute;
                width: 0;
            }
        }
        .select2-selection__placeholder {
        }
        .select2-selection__arrow b {
        }
        .select2-selection__clear {
            cursor: pointer;
            float: right;
            font-weight: bold;
        }
    }
}


.select2-container--mxp360-form {
    border-radius: 6px;
    border: 1px solid #bfc9d4;

    .select2-results__option--highlighted[aria-selected] {
        background: rgba($secondaryColor, 0.8) !important;
        color: #ffffff;
    }

    .select2-results__option--selected {
        background: $mainColor;
        color: #fff;
        opacity: 0.8;
    }

    .select2-dropdown {
        border: #cecece thin dotted;
        border-radius: 3px;
        box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
    }

    span.select2-search {
        input {
            border: 1px solid #cecece;
            border-radius: 3px;
            height: 43px;
        }
    }
}

.select2-container--mxp360-form.select2-container--open {
    .select2-selection__arrow {
        b {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
        }
    }
}

/****** Single SCSS *******/
.select2-container--mxp360-form {
    .select2-selection--single {

        height: 45px;

        .select2-selection__rendered {
            line-height: 45px;
        }
        .select2-selection__arrow {
            height: 26px;
            position: absolute;
            top: 8px;
            right: 1px;
            width: 20px;
            b {
                border-color: #9ca6af transparent transparent transparent;
                top: 60%;
                border-style: solid;
                border-width: 5px 4px 0 4px;
                height: 0;
                left: 50%;
                margin-left: -4px;
                margin-top: -2px;
                position: absolute;
                width: 0;
            }
        }
        .select2-selection__placeholder {
        }
        .select2-selection__arrow b {
        }
        .select2-selection__clear {
            cursor: pointer;
            float: right;
            font-weight: bold;
        }
    }
}

/*
===============
    Sidebar
===============
*/

.sidebar-wrapper:hover #sidebar .theme-brand .theme-logo img,
#container:not(.sidebar-closed) #sidebar .theme-brand .theme-logo img {
    width: 70px;
    height: 80px;
}

#container.sidebar-closed .sidebar-wrapper:not(:hover) #sidebar .theme-brand .theme-logo img {
    width: 40px;
    height: 40px;
    position: relative;
    left: 2px;
}

.sidebar-closed > .sidebar-wrapper {
    width: 54px;
}
.sidebar-closed > .sidebar-wrapper:hover {
    width: 255px;
}

.sidebar-closed > #content {
    margin-left: 54px;
}

.sidebar-wrapper:hover #sidebar .theme-brand,
#container:not(.sidebar-closed) #sidebar .theme-brand {
    padding: 0 12px 0 24px;
}

.sidebar-closed #sidebar .theme-brand {
    padding: 9.14px 5px;
}

.sidebar-closed #sidebar .theme-brand .toggle-sidebar {
    display: none;
}

.sidebar-closed .sidebar-wrapper:hover .toggle-sidebar {
    display: block !important;
}

.sidebar-closed #sidebar .theme-brand .toggle-sidebar svg {
    transform: rotate(180deg);
    transition: 0.4s;
}

.sidebar-closed > .sidebar-wrapper:hover #sidebar .theme-brand {
    padding: 0.9px 12px 0.9px 24px;
}

.sidebar-closed > .sidebar-wrapper:hover #sidebar .theme-brand li.theme-text a {
    display: block;
}

.sidebar-wrapper:hover #sidebar ul.menu-categories li.menu,
#container:not(.sidebar-closed) #sidebar ul.menu-categories li.menu {
    margin: 0px 15px 3px 15px;
}

.sidebar-closed #sidebar ul.menu-categories li.menu {
    margin: 0px 8px;
}

.sidebar-closed #sidebar:hover ul.menu-categories li.menu {
    margin: 0px 15px;
}

.sidebar-closed .sidebar-wrapper:hover #sidebar ul.menu-categories {
    padding: 20px 0 20px 0;
}

.sidebar-closed .sidebar-wrapper ul.menu-categories li.menu.menu-heading > .heading .feather-circle {
    display: inline-block;
}

.sidebar-closed .sidebar-wrapper:hover ul.menu-categories li.menu.menu-heading > .heading .feather-circle {
    display: none;
}

.sidebar-closed .sidebar-wrapper ul.menu-categories li.menu.menu-heading > .heading {
    padding: 20px 9px 20px 13px;
}

.sidebar-closed > .sidebar-wrapper ul.menu-categories li.menu.menu-heading > .heading span {
    display: none;
}

.sidebar-closed > .sidebar-wrapper:hover ul.menu-categories li.menu.menu-heading > .heading {
    padding: 20px 0 20px 20px;
}

.sidebar-closed > .sidebar-wrapper:hover ul.menu-categories li.menu.menu-heading > .heading span {
    display: inline-block;
}

.sidebar-wrapper:hover #sidebar ul.menu-categories li.menu > .dropdown-toggle,
#container:not(.sidebar-closed) #sidebar ul.menu-categories li.menu > .dropdown-toggle {
    padding: 9px 20px;
}

.sidebar-closed .sidebar-wrapper:not(:hover) #sidebar ul.menu-categories li.menu > .dropdown-toggle {
    padding: 11px 8px;
    transition: 0.6s;
    position: relative;
}

.sidebar-closed > .sidebar-wrapper:hover #sidebar ul.menu-categories li.menu > .dropdown-toggle {
    padding: 9px 20px;
    transition: 0.6s;
}

.sidebar-closed
    .sidebar-wrapper:hover
    #sidebar
    ul.menu-categories
    li.menu
    > .dropdown-toggle[aria-expanded="true"]:before,
.sidebar-closed #sidebar ul.menu-categories li.menu > .dropdown-toggle svg.feather-chevron-right {
    display: none;
}

.sidebar-closed
    .sidebar-wrapper:hover
    #sidebar
    ul.menu-categories
    li.menu
    > .dropdown-toggle
    svg.feather-chevron-right {
    display: inline-block;
}

.sidebar-closed
    .sidebar-wrapper:hover
    #sidebar
    ul.menu-categories
    li.menu
    > .dropdown-toggle[aria-expanded="true"]
    svg {
    color: #acb0c3;
    padding: 0;
    background: transparent;
    border-radius: 0;
    border: none;
    fill: rgba(136, 142, 168, 0.270588);
}

@media (max-width: 991px) {
    .sidebar-closed #sidebar .theme-brand {
        padding: 0.9px 12px 0.9px 24px;
    }
}

@media (min-width: 992px) {
    .sidebar-closed #sidebar .theme-brand li.theme-text a {
        display: none;
    }
}
.pac-container{
    z-index: 999999;
}

.gm-style-iw{
    max-width: 320px !important;
    position: fixed !important;
    left: -230px !important;
    top: 180px !important;
}

.gm-style-iw-t::after{
    display: none;
}

.input-padding-info{
    padding: 8px 3px;
    width: 62px;
}

.input-padding-info:disabled {
    background-color: white!important;
    color: black!important;
}
.content-table-info{
    width: 100%;
    overflow: auto;
}
.btn-modal-info{
    border-radius: 10px;
    padding: 8px;
    margin: 2px;
}


/* Customer Job View */

.background-first .margin-t100 .auto {
  font-size: 40px !important;
  }

.background-first .margin-t100 .subauto {
  font-size: 37px !important;
  }

.title-front{
  font-size: 50px!important;
}

.binding1 h4 {
  color: white;
}

.full-value-title .title-full-value{
  color: white;
  font-size: 14px;
}

.height-20vh {
  margin-bottom: 50px;
}

.header-text{
  font-size: 15px!important;
}

#pac-card {
    background-color: #fff;
    border-radius: 2px 0 0 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-family: Roboto;
    margin: 10px 10px 0 0;
    -moz-box-sizing: border-box;
    outline: none;
    left: 10px!important;
}

#pac-container {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 12px;
    margin-left: 12px;
    background-color: #fff;

}

.break-page .col-sm-4 .h20{
    font-size: 11px;
}

.content2-traces {
    margin-bottom: -400px;
}

.margin-100t{
    margin-bottom: 400px;
}

.margin-100t .font-s20{
  font-size: 17px!important;
}

.row.col-md-12.col-sm-12.margin-100t {
  margin-bottom: 650px!important;
}

  .binding1 h5 {
    color: #ffffff;
    font-size: 17px;
  }
  
  .content-traces .background-first .margin-t140 {
      margin-left: -63px!important;
      margin-top: 68px!important;
  }
  
  .content-traces .background-first .margin-t140 .title-front strong {
      font-size: 42px!important;
  }
  
  .content-traces .background-first .margin-t140 .subtitle-front {
      font-size: 36px!important;
  }
  
  .document-none .content-traces div {
      height: 1100px!important;
  }
  
  .content-traces {
      height: 700px!important;
  }
  
  .document-none .content2-traces div {
      height: 1100px!important;
  }
  
  .content2-traces {
      height: 700px!important;
  }
  
  .color-white.font-s20 {
      flex: 100%!important;
      max-width: 100%!important;
  }

.break-page .col-sm-4 .row .col-sm-4{
  margin-right: -20px;
}

.break-page .col-sm-4 .row .color-gray{
  margin-right: 20px;
  margin-top: 10px;
}

.inputs-no-padding .form_field {
    padding: 0!important;
}

.no-padding {
    padding: 0;
}


/******************
** CODIGO EMAIL ***
*******************/
// este codigo se coloca por aca para poder darle diseño a las respuestas que nos hacen a traves de gmail
.mailbox-inbox .mail-content-container .mail-content .gmail_quote{
    margin-left: 30px;
    padding-left: 10px;
}

.mailbox-inbox .mail-content-container .mail-content div.gmail_quote{
    border-left: 1px dotted #e44f00;
}

.mailbox-inbox .mail-content-container .mail-content .gmail_quote [dir="ltr"].gmail_attr{
    font-weight: bold;
    color: brown;
}

.mailbox-inbox .mail-content-container .mail-content .gmail_quote [dir="ltr"]:not(.gmail_attr){
    // font-style: italic;
}

.mailbox-inbox .mail-content-container .mail-content .gmail_quote .gmail_attr{
    // padding-left: 15px;
}

/**********************
** END CODIGO EMAIL ***
***********************/

/* Important part */
.modal-dialog-job-inventory-items{
   overflow-y: initial !important
}
.modal-body-job-inventory-items{
    height: 80vh;
    overflow-y: auto;
}

/* Customer Job View */

.size-modal {
    width: calc(100vw - 100px);
    margin: 1.5rem!important;
    padding: 0!important;
}

.width-date-picker {
    width: 205px !important;
}

.popover {
    z-index: 9999!important;
}

.modal-signature {
    width: 600px;
}

.information-stop-points {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.myModal {
    position: relative;

}

#chart-2 .apexcharts-canvas{
    margin: auto!important;
}

.size-form-modal {
    width: 1000px!important;
    max-width: none!important;
}

.size-form-modal-single {
    width: 700px!important;
    max-width: none!important;
}

.fc-content.highlight {
    background-color: yellow!important;
}

.highlight {
    background-color: yellow !important;
}

.button-highlight {
    z-index: 9999999;
    height: 40px;
    width: 40px;
    text-align: right;
    float: right;
    margin-right: 3px;
}
////// estilos de decoupled editor ////////
.document-editor {
    border: 1px solid var(--ck-color-base-border);
    border-radius: var(--ck-border-radius);

    /* Set vertical boundaries for the document editor. */
    max-height: 700px;

    /* This element is a flex container for easier rendering. */
    display: flex;
    flex-flow: column nowrap;
}

.document-editor__toolbar {
    /* Make sure the toolbar container is always above the editable. */
    z-index: 1;

    /* Create the illusion of the toolbar floating over the editable. */
    box-shadow: 0 0 5px hsla( 0,0%,0%,.2 );

    /* Use the CKEditor CSS variables to keep the UI consistent. */
    border-bottom: 1px solid var(--ck-color-toolbar-border);
}

/* Adjust the look of the toolbar inside the container. */
.document-editor__toolbar .ck-toolbar {
    border: 0;
    border-radius: 0;
}

/* Make the editable container look like the inside of a native word processor application. */
.document-editor__editable-container {
    padding: calc( 2 * var(--ck-spacing-large) );
    background: var(--ck-color-base-foreground);

    /* Make it possible to scroll the "page" of the edited content. */
    overflow-y: scroll;
}

.document-editor__editable-container .ck-editor__editable {
    /* Set the dimensions of the "page". */
    width: 21cm;
    min-height: 29.7cm;

    /* Keep the "page" off the boundaries of the container. */
    padding: 1cm 2cm 2cm;

    border: 1px hsl( 0,0%,82.7% ) solid;
    border-radius: var(--ck-border-radius);
    background: white;

    /* The "page" should cast a slight shadow (3D illusion). */
    box-shadow: 0 0 5px hsla( 0,0%,0%,.1 );

    /* Center the "page". */
    margin: 0 auto;
}

/* Set the default font for the "page" of the content. */
.document-editor .ck-content,
.document-editor .ck-heading-dropdown .ck-list .ck-button__label {
    font: 16px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Adjust the headings dropdown to host some larger heading styles. */
.document-editor .ck-heading-dropdown .ck-list .ck-button__label {
    line-height: calc( 1.7 * var(--ck-line-height-base) * var(--ck-font-size-base) );
    min-width: 6em;
}

/* Scale down all heading previews because they are way too big to be presented in the UI.
Preserve the relative scale, though. */
.document-editor .ck-heading-dropdown .ck-list .ck-button:not(.ck-heading_paragraph) .ck-button__label {
    transform: scale(0.8);
    transform-origin: left;
}

/* Set the styles for "Heading 1". */
.document-editor .ck-content h2,
.document-editor .ck-heading-dropdown .ck-heading_heading1 .ck-button__label {
    font-size: 2.18em;
    font-weight: normal;
}

.document-editor .ck-content h2 {
    line-height: 1.37em;
    padding-top: .342em;
    margin-bottom: .142em;
}

/* Set the styles for "Heading 2". */
.document-editor .ck-content h3,
.document-editor .ck-heading-dropdown .ck-heading_heading2 .ck-button__label {
    font-size: 1.75em;
    font-weight: normal;
    color: hsl( 203, 100%, 50% );
}

.document-editor .ck-heading-dropdown .ck-heading_heading2.ck-on .ck-button__label {
    color: var(--ck-color-list-button-on-text);
}

/* Set the styles for "Heading 2". */
.document-editor .ck-content h3 {
    line-height: 1.86em;
    padding-top: .171em;
    margin-bottom: .357em;
}

/* Set the styles for "Heading 3". */
.document-editor .ck-content h4,
.document-editor .ck-heading-dropdown .ck-heading_heading3 .ck-button__label {
    font-size: 1.31em;
    font-weight: bold;
}

.document-editor .ck-content h4 {
    line-height: 1.24em;
    padding-top: .286em;
    margin-bottom: .952em;
}

/* Set the styles for "Paragraph". */
.document-editor .ck-content p {
    font-size: 1em;
    line-height: 1.63em;
    padding-top: .5em;
    margin-bottom: 1.13em;
}

/* Make the block quoted text serif with some additional spacing. */
.document-editor .ck-content blockquote {
    font-family: Georgia, serif;
    margin-left: calc( 2 * var(--ck-spacing-large) );
    margin-right: calc( 2 * var(--ck-spacing-large) );
}

.document-poa #footer{
    position: initial!important;
}

.document-poa .header{
    position: absolute!important;
}

.document-poa {
    position: relative;
}

.document-poa .footer-space{
    height: 0px!important; 
    margin-bottom: 0px!important;
}

.content-traces .background-first.form-first .background-second.form-second2 {
    background: none;
  }
